*.iml
.gradle
/.kotlin
/local.properties
/.idea/*
!/.idea/codeStyles
/.run
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/xcshareddata
!iosApp/iosApp.xcodeproj/project.pbxproj
iosApp/Configuration/Signing.local.xcconfig
*.mobileprovision
*.p12
*.cer
shared/shared.podspec
metrics/
gradle/gradle-daemon-jvm.properties
